/* Copyright © 2021 Jonathan Dean Damiani */
.header-wrapper {
  box-shadow: 0 1px 5px #ccc;
}

.header-wrapper-transparent {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(255,255,255,0.5970763305322129) 0%, rgba(255,255,255,0) 100%);
}
.header-container {
  padding: 1em 6em;
}

.header-container-image {
  height: 4em;
}

h1 {
  display: none;
}
