/* Copyright © 2021 Jonathan Dean Damiani */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2em;
}

.button-base {
  width: 100%;
  padding: 1em 1em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #048112;
  font-weight: bold;
}
.button-base:hover {
  background-color: #00C318;
}
